Diagnostics:
    ClangTidy:
        Add: [performance*, modernize*, readability*, bugprone*, cert*, clang-analyzer*, misc*]
        Remove: [modernize-use-trailing-return-type, 
            readability-magic-numbers,
            modernize-use-auto,
            bugprone-easily-swappable-parameters,
            bugprone-suspicious-missing-comma,
            bugprone-switch-missing-default-case]
        CheckOptions:
            readability-identifier-length.IgnoredParameterNames: ^[nxyz]$
            readability-identifier-length.IgnoredVariableNames: ^[nxyz]$
            readability-identifier-length.MinimumLoopCounterNameLength: 1